<div class="connexoon eqLogic-widget eqLogic allowResize allowReorderCmd" id="connexoon-#id#" style="height:130px;width:200px;border:#border#;border-radius:#border-radius#;background-color:#background-color#;color:#color#;#style#" data-eqLogic_id="#id#" data-eqLogic_uid="#uid#" data-version="#version#" data-value="#info_position#">
  <div class="connexoon__status statusCmd"></div>
  <div class="connexoon__workspace">
    <div class="workspace__header widget-name">
      <a href="#eqLink#" style="#hideEqLogicName#">#name_display# <span>#object_name#</span></a>
    </div>
    <div class="workspace__content">
      <div class="content__shutter">
        <div class="shutter__display"></div>
        <div class="shutter__value">
          <div class="value__display"></div>
        </div>
      </div>
      <div class="content__slider" style="#action_position_set_hide#">
        <div class="slider"></div>
      </div>
    </div>
  </div>
  <div class="connexoon__commands">
    <i class="commands__command fa fa-refresh cursor tooltips cmd" title="Rafraîchir" data-cmd_id="#action_refresh_id#" style="#action_refresh_hide#"></i>
    <i class="commands__command fa fa-chevron-up cursor tooltips cmd" title="Ouvrir" data-cmd_id="#action_open_id#" style="#action_open_hide#"></i>
    <i class="commands__command fa fa-stop cursor tooltips cmd" title="Arrêter" data-cmd_id="#action_stop_id#" style="#action_stop_hide#"></i>
    <i class="commands__command fa fa-chevron-down cursor tooltips cmd" title="Fermer" data-cmd_id="#action_close_id#" style="#action_close_hide#"></i>
    <i class="commands__command fa fa-question-circle cursor tooltips cmd" title="Identifier" data-cmd_id="#action_identify_id#" style="#action_identify_hide#"></i>
  </div>
  <div class="connexoon__confirmation">
    <div class="confirmation__message"></div>
    <div class="confirmation__commands">
      <i class="commands__command commands__command--cancel fa fa-times cursor tooltips cmd" title="Annuler"></i>
      <i class="commands__command commands__command--validate fa fa-feather cursor tooltips cmd" title="Valider (lent)" data-cmd_id="#action_position_low_speed_id#" style="#action_position_low_speed_hide#"></i>
      <i class="commands__command commands__command--validate fa fa-check cursor tooltips cmd" title="Valider" data-cmd_id="#action_position_set_id#"></i>    
    </div>
  </div>
  <script>
    $.include([
      'plugins/benjaminprevotConnexoon/core/template/dashboard/eqLogic.css',
      'plugins/benjaminprevotConnexoon/core/template/dashboard/eqLogic.js'
    ], function() {});

    (function() {
      var $connexoon = $('#connexoon-#id#');
      var $value = $('.value__display', $connexoon);
      var $shutter = $('.shutter__display', $connexoon);
      var $slider = $('.slider', $connexoon);
      var $confirmation = $('.connexoon__confirmation', $connexoon);
      var $confirmationCancel = $('.confirmation__commands .commands__command.commands__command--cancel', $confirmation);
      var $confirmationValidate = $('.confirmation__commands .commands__command.commands__command--validate', $confirmation);

      function display(value) {
        $value.text(value + '%');
        $shutter.height(value + '%');
      }

      $slider.slider({
        orientation: 'vertical',
        min: 0,
        max: 100,
        value: 100 - $connexoon.data('value'),
        create: function(event, ui) {
          display($connexoon.data('value'));
        },
        slide: function(event, ui) {
          display(100 - ui.value);
        },
        change: function(event, ui) {
          display(100 - ui.value);
        },
        stop: function(event, ui) {
          $confirmation.addClass('connexoon__confirmation--active');
        }
      });

      $confirmationCancel
          .on('click', function() {
            $slider.slider('value', 100 - $connexoon.data('value'));
            $confirmation.removeClass('connexoon__confirmation--active');
          });

      $confirmationValidate
          .on('click', function() {
            jeedom.cmd.execute({
              id: $(this).data('cmd_id'),
              value: {
                position: (100 - $slider.slider('value'))
              },
              success: function() {
                $connexoon.data('value', 100 - $slider.slider('value'));
                $confirmation.removeClass('connexoon__confirmation--active');
              }
            });
          });
    })();
  </script>
</div>
