.border-4 {
  border-width: 4px;
}

.border-b-0 {
  border-bottom-width: 0px;
}

.border-solid {
  border-style: solid;
}

.border-white {
  border-color: rgb(255 255 255);
}

.cursor-pointer {
  cursor: pointer;
}

.flex {
  display: flex;
}

.flex-column {
  flex-direction: column;
}

.grow {
  flex-grow: 1;
}

.items-center {
  align-items: center;
}

.items-stretch {
  align-items: stretch;
}

.justify-center {
  justify-content: center;
}

.m-1 {
  margin: 0.25rem;
}

.p-1 {
  padding: 0.25rem;
}

.pb-0 {
  padding-bottom: 0px;
}
