<div class="eqLogic eqLogic-widget flex items-stretch" id="connexoon-#id#" style="height:130px;width:200px" data-eqLogic_id="#id#" data-eqLogic_uid="#uid#" data-version="#version#">
  <div class="flex grow items-center justify-center" style="background-color:red">
    <div class="border-4 border-b-0 border-solid border-white p-1 pb-0" style="background-color:green;height:100px;width:100px">
      <div style="background-color:yellow;height:#info_closure#%">A</div>
    </div>
  </div>
  <div style="background-color:blue;">
  right
  </div>
  <script>
    $.include([
      'plugins/benjaminprevotConnexoon/core/template/dashboard/eqLogic.css'
    ], function() {});
  </script>
</div>
