<div class="flex flex-column eqLogic eqLogic-widget" id="connexoon-#id#" style="height:150px;width:150px" data-eqLogic_id="#id#" data-eqLogic_uid="#uid#" data-version="#version#">
  <span class="text-center text-xl">
    <a href="#eqLink#" style="#hideEqLogicName#">#name_display#</a>
  </span>
  <div class="flex justify-center items-stretch gap-6 my-12">
    <div class="flex items-center justify-center">
      <div class="border-6 border-b-0 border-solid border-white p-3 pb-0" style="height:100px;width:100px">
        <div class="bg-roller-shutter" style="height:#info_closure#%"></div>
      </div>
    </div>
    <div class="flex flex-column">
      <span class="glyphicon glyphicon-chevron-up cursor-pointer" onclick="jeedom.cmd.execute({id: #action_open_id#});" aria-hidden="true"></span>
      <span class="grow"></span>
      <span class="glyphicon glyphicon-chevron-down cursor-pointer"  onclick="jeedom.cmd.execute({id: #action_close_id#});" aria-hidden="true"></span>
    </div>
  </div>
</div>
<script>
  $.include([
    'plugins/benjaminprevotConnexoon/core/template/dashboard/eqLogic.css'
  ], function() {});
</script>
