.connexoon {
  display: flex;
  flex-direction: row;
  position: relative;
}

.connexoon .connexoon__status {
  bottom: 6px;
  left: 6px;
  position: absolute;
  width: 30px;
  z-index: 1;
}

.connexoon .connexoon__workspace {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}

.connexoon .connexoon__workspace .workspace__header {
  color: #ffffff;
  padding-top: 6px;
  text-align: center;
}

.connexoon .connexoon__workspace .workspace__content {
  align-items: center;
  display: flex;
  flex-grow: 1;
  justify-content: center;
  padding: 6px;
}

.connexoon .connexoon__workspace .workspace__content .content__shutter {
  align-items: flex-start;
  border-color: #ffffff;
  border-style: solid;
  border-width: 6px 6px 0 6px;
  box-sizing: border-box;
  display: flex;
  height: 80%;
  justify-content: center;
  overflow: hidden;
  padding: 3px 3px 0 3px;
  position: relative;
  width: 50%;
}

.connexoon .connexoon__workspace .workspace__content .content__shutter .shutter__display {
  background-color: rgba(255, 255, 255, 0.5);
  flex-grow: 1;
}

.connexoon .connexoon__workspace .workspace__content .content__shutter .shutter__value {
  display: block;
  font-weight: bold;
  height: 100px;
  left: 0;
  line-height: 100px;
  margin: -47px 0 0 0;
  position: absolute;
  text-align: center;
  top: 50%;
  width: 100%;
}

.connexoon .connexoon__workspace .workspace__content .content__shutter .shutter__value .value__display {
  color: #000000;
}

.connexoon .connexoon__workspace .workspace__content .content__slider {
  height: 80%;
  margin-left: 10px;
}

.connexoon .connexoon__workspace .workspace__content .content__slider .slider.ui-slider-vertical {
  background-color: #ffffff;
  border: none;
  border-radius: 0;
  height: 100%;
  width: 2px;
}

.connexoon .connexoon__workspace .workspace__content .content__slider .slider.ui-slider-vertical .ui-slider-handle {
  background-color: #ffffff;
  border: none;
  border-radius: 0;
  cursor: ns-resize;
  height: 12px;
  left: -5px;
  margin-bottom: -6px;
  width: 12px;
}

.connexoon .connexoon__commands {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  padding-right: 6px;
}

.connexoon .connexoon__commands .commands__command {
  color: #ffffff;
  cursor: pointer;
  text-align: center;
}

.connexoon .connexoon__commands .commands__command:hover {
  transform: scale(1.25);
}

.connexoon .connexoon__confirmation {
  background-color: rgba(255, 255, 255, 0.75);
  bottom: 0;
  display: none;
  flex-direction: column;
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
  z-index: 3;
}

.connexoon .connexoon__confirmation.connexoon__confirmation--active {
  display: flex;
}

.connexoon .connexoon__confirmation .confirmation__commands {
  align-items: center;
  display: flex;
  flex-grow: 1;
  justify-content: space-evenly;
}

.connexoon .connexoon__confirmation .confirmation__commands .commands__command {
  color: #000000;
  cursor: pointer;
  font-size: 2em;
}

.connexoon .connexoon__confirmation .confirmation__commands .commands__command:hover {
  transform: scale(1.25);
}
