.bg-roller-shutter {
  background-image: linear-gradient(rgba(255,255,255), transparent 100%);
  background-size: 1px 6px;
}

.border-6 {
  border-width: 6px;
}

.border-b-0 {
  border-bottom-width: 0px;
}

.border-solid {
  border-style: solid;
}

.border-white {
  border-color: rgb(255 255 255);
}

.cursor-pointer {
  cursor: pointer;
}

.flex {
  display: flex;
}

.flex-column {
  flex-direction: column;
}

.gap-6 {
  gap: 6px;
}

.grow {
  flex-grow: 1;
}

.items-center {
  align-items: center;
}

.items-stretch {
  align-items: stretch;
}

.justify-center {
  justify-content: center;
}

.my-12 {
  margin-top: 12px;
  margin-bottom: 12px;
}

.p-3 {
  padding: 3px;
}

.pb-0 {
  padding-bottom: 0px;
}

.text-center {
  text-align: center;
}

.text-xl {
  font-size: 1.25em;
  line-height: 1.75em;
}
