---
# Main style file
---

@import "meyer-reset";

$font-family: 'Roboto', sans-serif;

body {
  background-color: #ffffff;
  color: #000000;
  font-family: $font-family;
  font-size: 16px;
}

main {
  font-size: 1em;
  padding: 2em;
}

h1 {
  font-size: 2em;
  font-weight: bold;
  margin-bottom: 1.5em;
}

h2 {
  color: #616161;
  font-size: 1.5em;
  font-weight: bold;
  margin: 1.5em 0;
}

h3 {
  font-size: 1.25em;
  margin: 1.5em 0;
}

h4 {
  font-size: 1em;
  margin: 1.5em 0;
}

p {
  margin: 1.5em 0;
}

a {
  &, &:active, &:link, &:visited {
    color: #0288D1;
    text-decoration: none;
  }

  &:hover {
    text-decoration: underline;
  }
}

em {
  font-style: italic;
}
